n8n-automatioin/workflows/publish_sessions.template.json
{
  "name": "Auto publish workspace → YouTube + Facebook (by published_at ↑)",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-4111-8111-111111111101",
      "name": "Execute workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        620,
        -140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ============================================================\n// CHỈ SỬA BLOCK NÀY — không cần node Set; Execute → node này.\n// ============================================================\n// Docker (compose map repo→/repo, session→/workspace):\nconst REPO_ROOT = String.raw`/repo`;\nconst WORKSPACE = String.raw`/workspace`;\n// Windows (native n8n): thay ví dụ\n// const REPO_ROOT = String.raw`D:\\\\path\\\\to\\\\video-subtitle-translator`;\n// const WORKSPACE = String.raw`D:\\\\Downloads\\\\workspace\\\\horror_story`;\n\nconst FACEBOOK_PAGE_ID = '61560996974889';\nconst SCHEDULE_INTERVAL_HOURS = 24;\nconst SCHEDULE_START = '2026-05-02T22:00:00+07:00';\n// Scan export: chỉ bỏ qua folder khi marker status = completed hoặc file legacy không có field status.\n// pending_n8n = exporter đã ghi nhưng n8n có thể lỗi — folder vẫn có thể xuất lại trong danh sách jobs.\n// Webhook/Cron có thể gửi workspace / schedule_* — khi có thì được ưu tiên.\n\nconst winDrivePath = (p) => /^[a-zA-Z]:[\\\\/]/.test(String(p || '').trim());\nconst useInputWs = ($json.workspace !== undefined && $json.workspace !== null && String($json.workspace).trim() !== '');\nlet base_dir = String(useInputWs ? $json.workspace : WORKSPACE).trim();\nbase_dir = base_dir.replace(/[/\\\\]+$/, '');\n\nconst repoWin = winDrivePath(REPO_ROOT);\nconst baseWin = winDrivePath(base_dir);\nif (repoWin !== baseWin) {\n  throw new Error(\n    'REPO_ROOT và workspace phải cùng kiểu Windows hoặc cùng Linux/Docker (/repo + /workspace). Không trộn D: với / trong container.',\n  );\n}\n\nconst norm = base_dir.replace(/\\\\/g, '/').replace(/\\/+$/, '');\nconst log_file = `${norm}/n8n_publish_run.jsonl`;\n\nlet hours = Number($json.schedule_interval_hours);\nif (!Number.isFinite(hours) || hours <= 0) hours = SCHEDULE_INTERVAL_HOURS;\nlet schedule_args = `--schedule-interval-hours ${hours}`;\nlet schedule_start = '';\nif ($json.schedule_start !== undefined && $json.schedule_start !== null && String($json.schedule_start).trim() !== '') {\n  schedule_start = String($json.schedule_start).trim();\n} else {\n  schedule_start = String(SCHEDULE_START || '').trim();\n}\nif (schedule_start) {\n  schedule_args += schedule_start.includes(' ')\n    ? ` --schedule-start \"${schedule_start.replace(/\"/g, '')}\"`\n    : ` --schedule-start ${schedule_start}`;\n}\n\nreturn [\n  {\n    json: {\n      workspace: base_dir,\n      base_dir,\n      repo_root: REPO_ROOT,\n      log_file,\n      facebook_page_id: FACEBOOK_PAGE_ID,\n      schedule_interval_hours: hours,\n      schedule_start,\n      schedule_args,\n    },\n  },\n];"
      },
      "id": "11111111-1111-4111-8111-111111111119",
      "name": "2 Publishing config (sửa 1 lần trong Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        20
      ]
    },
    {
      "parameters": {
        "content": "## Một cổng vào • **Chỉ sửa 1 Code node**\n\n**Một lần** — mở **`2 Publishing config`**: chỉnh `REPO_ROOT`, `WORKSPACE`, `FACEBOOK_PAGE_ID`, `SCHEDULE_INTERVAL_HOURS`, `SCHEDULE_START` trong code (**không còn node Set**). Manual trigger chỉ nhấn **Execute**.\n\n**Docker:** `REPO_ROOT`=`/repo`, `WORKSPACE`=`/workspace` (khớp **docker-compose**). **Không có ổ `D:`** trong container.\n\n**Webhook/Cron:** gửi kèm `workspace` hoặc `schedule_*` thì được ưu tiên thay các hằng trên.\n\n**Credentials:** `YouTube OAuth2 - publish workspace`, `Facebook Graph API - page token` (token **Fanpage**).\n\n**Lỗi** `executeCommand` / **`NODES_EXCLUDE`:** README §3.3.",
        "height": 580,
        "width": 560,
        "color": 5
      },
      "id": "11111111-1111-4111-8111-111111111199",
      "name": "Hướng dẫn",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        -180
      ]
    },
    {
      "parameters": {
        "executeOnce": true,
        "command": "=python {{ $('2 Publishing config (sửa 1 lần trong Code)').item.json.repo_root }}/n8n-automatioin/workflow_log_append.py {{ $('2 Publishing config (sửa 1 lần trong Code)').item.json.log_file }} workflow_start --level INFO --message export_begin_workspace={{ $('2 Publishing config (sửa 1 lần trong Code)').item.json.base_dir }}"
      },
      "id": "11111111-1111-4111-8111-111111111103",
      "name": "3 Log • start",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        880,
        100
      ]
    },
    {
      "parameters": {
        "executeOnce": true,
        "command": "=python {{ $json.repo_root }}/n8n-automatioin/export_publish_jobs.py {{ $json.base_dir }} --platform youtube --platform facebook {{ $json.schedule_args }} --pretty"
      },
      "id": "11111111-1111-4111-8111-111111111104",
      "name": "4 Export jobs (Python)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        620,
        340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst cfg = $('2 Publishing config (sửa 1 lần trong Code)').first().json;\nconst text = item.stdout ?? item.text ?? '';\nif (item.exitCode !== 0 && item.exitCode !== undefined) {\n  throw new Error(item.stderr || `export failed (exit ${item.exitCode})`);\n}\nconst parsed = JSON.parse(text || '{}');\nif (!Array.isArray(parsed.jobs)) {\n  throw new Error('Exporter JSON must contain a jobs array');\n}\nif (parsed.jobs.length === 0) {\n  const bd = parsed.base_dir || cfg.base_dir || '';\n  const c = parsed.count;\n  const cnt = c === undefined ? '?' : String(c);\n  throw new Error(\n    'Exporter trả về 0 job (count=' + cnt + ', base_dir=' + bd + '). '\n      + 'Không phải lỗi If/Switch: node sau chỉ chạy khi có ít nhất một job. Kiểm tra workspace hoặc volume Docker; session có đủ video, title, description, thumbnail không; có marker exported-posted không. '\n      + 'Chạy ngoài n8n: export_publish_jobs.py đúng base_dir và thêm các cờ debug và audit.',\n  );\n}\nreturn parsed.jobs.map((job) => ({\n  json: {\n    ...job,\n    repo_root: cfg.repo_root,\n    base_dir: cfg.base_dir,\n    log_file: cfg.log_file,\n    facebook_page_id: cfg.facebook_page_id,\n  },\n}));"
      },
      "id": "11111111-1111-4111-8111-111111111105",
      "name": "5 Split jobs (+ giữ config)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        500
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python {{ $json.repo_root }}/n8n-automatioin/workflow_log_append.py {{ $json.log_file }} job_begin --level INFO --message session={{ $json.session_name }}"
      },
      "id": "11111111-1111-4111-8111-111111111106",
      "name": "6 Log • job begin",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        620,
        660
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const cur = $input.item;\nconst job = $('5 Split jobs (+ giữ config)').item.json;\nconst merged = { ...job, ...(cur.json || {}) };\nconst p = String(merged.video_path || '').trim();\nif (!p) {\n  throw new Error('Missing video_path after job begin log (item pairing?). session=' + String(merged.session_name || '?'));\n}\nmerged.video_path = p.split(String.fromCharCode(92)).join('/');\nreturn { json: merged, binary: cur.binary };"
      },
      "id": "11111111-1111-4111-8111-111111111161",
      "name": "6b Carry job → Read",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        740
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.video_path }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "id": "11111111-1111-4111-8111-111111111107",
      "name": "7 Read video (YouTube)",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        620,
        820
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "function parseIsoUtcMs(raw) {\n  let sa = String(raw || '').trim();\n  if (!sa) return NaN;\n  if (!sa.includes('T') && sa.includes(' ')) sa = sa.replace(' ', 'T');\n  sa = sa.replace(/(\\d{2}:\\d{2}:\\d{2}\\.\\d{3})\\d+/, '$1');\n  return Date.parse(sa);\n}\nconst item = $input.item;\nif (item.json.error) {\n  throw new Error('Read video (YouTube): ' + String(item.json.error));\n}\nif (!item.binary?.data) {\n  throw new Error('Read video (YouTube): missing binary.data');\n}\nconst meta = $('6b Carry job → Read').item?.json ?? {};\nconst sa = String(meta.scheduled_at || '').trim();\nif (!sa) {\n  throw new Error(\n    'YouTube: scheduled_at trống — Studio coi là \\\"Riêng tư\\\" (không \\\"Đã lên lịch\\\"); kiểm tra exporter + node 6b.'\n    ,\n  );\n}\nconst publishMs = parseIsoUtcMs(sa);\nif (!Number.isFinite(publishMs)) {\n  throw new Error(\n    'YouTube: scheduled_at không parse được (ISO RFC3339, có offset ví dụ +07:00): ' + sa\n    ,\n  );\n}\nconst skewMs = 5000;\nif (publishMs <= Date.now() + skewMs) {\n  throw new Error(\n    'YouTube: scheduled_at đã qua hoặc sát \\\"giờ chạy workflow\\\" (< vài giây tới). PublishAt không còn trong tương lai. Giá trị: '\n      + sa\n      + '. Chạy lại export để \\\"scheduled_at\\\" mới, hoặc chỉnh SCHEDULE_START/SCHEDULE_INTERVAL_HOURS trong node 2.'\n    ,\n  );\n}\nconst tp = String(meta.thumbnail_path || '').trim();\nif (!tp) {\n  throw new Error(\n    'YouTube: thiếu thumbnail_path — cần file ảnh để upload thumbnail (và Studio/COPPA). Kiểm tra session + export.'\n    ,\n  );\n}\nreturn item;"
      },
      "id": "11111111-1111-4111-8111-111111111108",
      "name": "8 Check read OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        980
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ String($('6b Carry job → Read').item.json.thumbnail_path || '').split(String.fromCharCode(92)).join('/') }}",
        "options": {
          "dataPropertyName": "thumbnail"
        }
      },
      "id": "11111111-1111-4111-8111-111111111120",
      "name": "8c Read thumbnail (YouTube)",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        620,
        1060
      ],
      "continueOnFail": false
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('6b Carry job → Read').item.json.title }}",
        "regionCode": "US",
        "categoryId": "22",
        "binaryProperty": "data",
        "options": {
          "description": "={{ $('6b Carry job → Read').item.json.description }}",
          "privacyStatus": "private",
          "publishAt": "={{ $('6b Carry job → Read').item.json.scheduled_at }}",
          "tags": "={{ ($('6b Carry job → Read').item.json.hashtags || []).join(',') }}",
          "selfDeclaredMadeForKids": false
        }
      },
      "id": "11111111-1111-4111-8111-111111111109",
      "name": "9 YouTube upload",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        620,
        1140
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "name": "YouTube OAuth2 - publish workspace"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const item = $input.item;\nconst j = item.json || {};\nconst meta = $('6b Carry job → Read').item?.json || {};\nif (j.error) {\n  throw new Error('YouTube API: ' + JSON.stringify(j.error).slice(0, 800));\n}\nconst id =\n  j.id || j.uploadId || j.video_id || j.videoId || j.data?.id || j.data?.uploadId;\nif (!id) {\n  throw new Error(\n    'YouTube: no video id (expected id/uploadId/video_id): ' + JSON.stringify(j).slice(0, 800),\n  );\n}\nitem.json = { ...meta, ...j, id: String(id) };\nconst thumb = $('8c Read thumbnail (YouTube)').item?.binary?.thumbnail;\nif (!thumb) {\n  throw new Error(\n    'YouTube: thiếu binary thumbnail (8c). Kiểm tra thumbnail_path và file ảnh (≤2MB, jpeg/png).',\n  );\n}\nitem.binary = { ...(item.binary || {}), thumbnail: thumb };\nreturn item;"
      },
      "id": "11111111-1111-4111-8111-111111111110",
      "name": "10 Check YouTube OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        1300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $json.id }}"
            },
            {
              "name": "uploadType",
              "value": "media"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "thumbnail",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111121",
      "name": "10b YouTube set thumbnail (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        1380
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "name": "YouTube OAuth2 - publish workspace"
        }
      },
      "continueOnFail": false
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python {{ $('10 Check YouTube OK').item.json.repo_root }}/n8n-automatioin/mark_publish_result.py \"{{ $('10 Check YouTube OK').item.json.session_folder }}\" --platform youtube --remote-id {{ $('10 Check YouTube OK').item.json.id }} --url https://www.youtube.com/watch?v={{ $('10 Check YouTube OK').item.json.id }} --scheduled-at \"{{ $('10 Check YouTube OK').item.json.scheduled_at }}\""
      },
      "id": "11111111-1111-4111-8111-111111111112",
      "name": "11 Mark YouTube đã đăng",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        620,
        1460
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python {{ $('10 Check YouTube OK').item.json.repo_root }}/n8n-automatioin/workflow_log_append.py {{ $('10 Check YouTube OK').item.json.log_file }} youtube_ok --level INFO --message video_id={{ $('10 Check YouTube OK').item.json.id }} session={{ $('10 Check YouTube OK').item.json.session_name }}"
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "12 Log • YouTube OK",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        620,
        1620
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const cur = $input.item;\nconst job = $('5 Split jobs (+ giữ config)').item.json;\nconst yt = $('10 Check YouTube OK').item?.json || {};\nconst merged = { ...job, ...yt, ...(cur.json || {}) };\nconst p = String(merged.video_path || '').trim();\nif (!p) {\n  throw new Error('Missing video_path before Facebook read (item pairing?). session=' + String(merged.session_name || '?'));\n}\nmerged.video_path = p.split(String.fromCharCode(92)).join('/');\nreturn { json: merged, binary: cur.binary };"
      },
      "id": "11111111-1111-4111-8111-111111111162",
      "name": "12b Carry job → Read FB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        1700
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.video_path }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "id": "11111111-1111-4111-8111-111111111113",
      "name": "13 Read video (Facebook)",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        620,
        1780
      ],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const item = $input.item;\nif (item.json.error) {\n  throw new Error('Read video (Facebook): ' + String(item.json.error));\n}\nif (!item.binary?.data) {\n  throw new Error('Read video (Facebook): missing binary.data');\n}\nreturn item;"
      },
      "id": "11111111-1111-4111-8111-111111111114",
      "name": "14 Check read OK • FB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        1940
      ]
    },
    {
      "parameters": {
        "hostUrl": "graph-video.facebook.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "v21.0",
        "node": "={{ $('12b Carry job → Read FB').item.json.facebook_page_id }}",
        "edge": "videos",
        "sendBinaryData": true,
        "binaryPropertyName": "source:data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "description",
                "value": "={{ $('12b Carry job → Read FB').item.json.description }}"
              },
              {
                "name": "title",
                "value": "={{ $('12b Carry job → Read FB').item.json.title }}"
              },
              {
                "name": "published",
                "value": "={{ false }}"
              },
              {
                "name": "scheduled_publish_time",
                "value": "={{ Number($('12b Carry job → Read FB').item.json.scheduled_publish_unix) }}"
              },
              {
                "name": "unpublished_content_type",
                "value": "={{ 'SCHEDULED' }}"
              }
            ]
          }
        }
      },
      "id": "11111111-1111-4111-8111-111111111115",
      "name": "15 Facebook • upload video",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        620,
        2100
      ],
      "credentials": {
        "facebookGraphApi": {
          "name": "Facebook Graph API - page token"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const j = $input.item.json;\nif (j.error) {\n  throw new Error('Facebook Graph: ' + JSON.stringify(j.error).slice(0, 800));\n}\nif (!j.id) {\n  throw new Error('Facebook: no id in response: ' + JSON.stringify(j).slice(0, 800));\n}\nreturn $input.item;"
      },
      "id": "11111111-1111-4111-8111-111111111116",
      "name": "16 Check Facebook OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        2260
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python {{ $('14 Check read OK • FB').item.json.repo_root }}/n8n-automatioin/mark_publish_result.py \"{{ $('14 Check read OK • FB').item.json.session_folder }}\" --platform facebook --remote-id {{ $json.id }} --url https://www.facebook.com/watch/?v={{ $json.id }} --scheduled-at \"{{ $('14 Check read OK • FB').item.json.scheduled_at }}\""
      },
      "id": "11111111-1111-4111-8111-111111111118",
      "name": "17 Mark Facebook đã đăng",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        620,
        2420
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python {{ $('14 Check read OK • FB').item.json.repo_root }}/n8n-automatioin/workflow_log_append.py {{ $('14 Check read OK • FB').item.json.log_file }} facebook_ok --level INFO --message fb_video_id={{ $('15 Facebook • upload video').item.json.id }} session={{ $('14 Check read OK • FB').item.json.session_name }}"
      },
      "id": "11111111-1111-4111-8111-111111111117",
      "name": "18 Log • Facebook OK",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        620,
        2580
      ]
    }
  ],
  "connections": {
    "Execute workflow": {
      "main": [
        [
          {
            "node": "2 Publishing config (sửa 1 lần trong Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 Publishing config (sửa 1 lần trong Code)": {
      "main": [
        [
          {
            "node": "3 Log • start",
            "type": "main",
            "index": 0
          },
          {
            "node": "4 Export jobs (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4 Export jobs (Python)": {
      "main": [
        [
          {
            "node": "5 Split jobs (+ giữ config)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Split jobs (+ giữ config)": {
      "main": [
        [
          {
            "node": "6 Log • job begin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6 Log • job begin": {
      "main": [
        [
          {
            "node": "6b Carry job → Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6b Carry job → Read": {
      "main": [
        [
          {
            "node": "7 Read video (YouTube)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7 Read video (YouTube)": {
      "main": [
        [
          {
            "node": "8 Check read OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8 Check read OK": {
      "main": [
        [
          {
            "node": "9 YouTube upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9 YouTube upload": {
      "main": [
        [
          {
            "node": "10 Check YouTube OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 Check YouTube OK": {
      "main": [
        [
          {
            "node": "10b YouTube set thumbnail (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10b YouTube set thumbnail (HTTP)": {
      "main": [
        [
          {
            "node": "11 Mark YouTube đã đăng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11 Mark YouTube đã đăng": {
      "main": [
        [
          {
            "node": "12 Log • YouTube OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 Log • YouTube OK": {
      "main": [
        [
          {
            "node": "12b Carry job → Read FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12b Carry job → Read FB": {
      "main": [
        [
          {
            "node": "13 Read video (Facebook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13 Read video (Facebook)": {
      "main": [
        [
          {
            "node": "14 Check read OK • FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14 Check read OK • FB": {
      "main": [
        [
          {
            "node": "15 Facebook • upload video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15 Facebook • upload video": {
      "main": [
        [
          {
            "node": "16 Check Facebook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "16 Check Facebook OK": {
      "main": [
        [
          {
            "node": "17 Mark Facebook đã đăng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "17 Mark Facebook đã đăng": {
      "main": [
        [
          {
            "node": "18 Log • Facebook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}