n8n-automatioin/workflows/publish_sessions.template.json
{
  "name": "Auto publish workspace → YouTube + Facebook (by published_at ↑)",
  "nodes": [
    {
      "parameters": {},
      "id": "930c6b2b-edc7-4851-b29d-49cb032e03e2",
      "name": "Execute workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [560, 48]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CHỈ SỬA BLOCK NÀY — input từ node trước:\n// REPO_ROOT, WORKSPACE, FACEBOOK_PAGE_ID,\n// SCHEDULE_INTERVAL_HOURS, SCHEDULE_START\n// ============================================================\n\n// Ưu tiên lấy từ node trước, nếu không có thì fallback default\nconst REPO_ROOT = String($json.REPO_ROOT || '/repo').trim();\nconst WORKSPACE = String($json.WORKSPACE || '/workspace').trim();\nconst FACEBOOK_PAGE_ID = String($json.FACEBOOK_PAGE_ID || '61560996974889').trim();\n\nlet SCHEDULE_INTERVAL_HOURS = Number($json.SCHEDULE_INTERVAL_HOURS);\nif (!Number.isFinite(SCHEDULE_INTERVAL_HOURS) || SCHEDULE_INTERVAL_HOURS <= 0) {\n  SCHEDULE_INTERVAL_HOURS = 24;\n}\n\nconst SCHEDULE_START = String(\n  $json.SCHEDULE_START || '2026-05-02T22:00:00+07:00'\n).trim();\n\n// ============================================================\n// Logic xử lý\n// ============================================================\n\nconst winDrivePath = (p) =>\n  /^[a-zA-Z]:[\\\\/]/.test(String(p || '').trim());\n\n// Ưu tiên workspace từ input\nlet base_dir = WORKSPACE.trim();\nbase_dir = base_dir.replace(/[/\\\\]+$/, '');\n\nconst repoWin = winDrivePath(REPO_ROOT);\nconst baseWin = winDrivePath(base_dir);\n\nif (repoWin !== baseWin) {\n  throw new Error(\n    'REPO_ROOT và WORKSPACE phải cùng kiểu Windows hoặc cùng Linux/Docker (/repo + /workspace). Không trộn D: với / trong container.'\n  );\n}\n\nconst norm = base_dir\n  .replace(/\\\\/g, '/')\n  .replace(/\\/+$/, '');\n\nconst log_file = `${norm}/n8n_publish_run.jsonl`;\n\nlet hours = SCHEDULE_INTERVAL_HOURS;\nlet schedule_args = `--schedule-interval-hours ${hours}`;\n\nlet schedule_start = SCHEDULE_START;\n\nif (schedule_start) {\n  schedule_args += schedule_start.includes(' ')\n    ? ` --schedule-start \"${schedule_start.replace(/\"/g, '')}\"`\n    : ` --schedule-start ${schedule_start}`;\n}\n\nreturn [\n  {\n    json: {\n      workspace: base_dir,\n      base_dir,\n      repo_root: REPO_ROOT,\n      log_file,\n      facebook_page_id: FACEBOOK_PAGE_ID,\n      schedule_interval_hours: hours,\n      schedule_start,\n      schedule_args,\n    },\n  },\n];"
      },
      "id": "2da76a32-ca89-460f-8f94-d332dd33e7e5",
      "name": "2 Publishing config (sửa 1 lần trong Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [656, 352]
    },
    {
      "parameters": {
        "content": "## Một cổng vào • **Chỉ sửa 1 Code node**\n\n**Một lần** — mở **`2 Publishing config`**: chỉnh `REPO_ROOT`, `WORKSPACE`, `FACEBOOK_PAGE_ID`, `SCHEDULE_INTERVAL_HOURS`, `SCHEDULE_START` trong code (**không còn node Set**). Manual trigger chỉ nhấn **Execute**.\n\n**Docker:** `REPO_ROOT`=`/repo`, `WORKSPACE`=`/workspace` (khớp **docker-compose**). **Không có ổ `D:`** trong container.\n\n**Webhook/Cron:** gửi kèm `workspace` hoặc `schedule_*` thì được ưu tiên thay các hằng trên.\n\n**Credentials:** `YouTube OAuth2 - publish workspace`, `Facebook Graph API - page token` (token **Fanpage**).\n\n**Lỗi** `executeCommand` / **`NODES_EXCLUDE`:** README §3.3.",
        "height": 580,
        "width": 560,
        "color": 5
      },
      "id": "444e079e-e215-4d28-9f11-c74db01dcd28",
      "name": "Hướng dẫn",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "command": "=python {{ $('2 Publishing config (sửa 1 lần trong Code)').item.json.repo_root }}/n8n-automatioin/workflow_log_append.py {{ $('2 Publishing config (sửa 1 lần trong Code)').item.json.log_file }} workflow_start --level INFO --message \"export_begin_workspace={{ $('2 Publishing config (sửa 1 lần trong Code)').item.json.base_dir }}\""
      },
      "id": "84df3cc3-30cc-4e45-b519-aeb5c7c2304a",
      "name": "3 Log • start",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [832, 288]
    },
    {
      "parameters": {
        "command": "=python {{ $json.repo_root }}/n8n-automatioin/export_publish_jobs.py {{ $json.base_dir }} --platform youtube --platform facebook {{ $json.schedule_args }} --pretty"
      },
      "id": "8bd40051-7023-4c03-b47c-484d2ac13ee1",
      "name": "4 Export jobs (Python)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [560, 528]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst cfg = $('2 Publishing config (sửa 1 lần trong Code)').first().json;\nconst text = item.stdout ?? item.text ?? '';\nif (item.exitCode !== 0 && item.exitCode !== undefined) {\n  throw new Error(item.stderr || `export failed (exit ${item.exitCode})`);\n}\nconst parsed = JSON.parse(text || '{}');\nif (!Array.isArray(parsed.jobs)) {\n  throw new Error('Exporter JSON must contain a jobs array');\n}\nif (parsed.jobs.length === 0) {\n  const bd = parsed.base_dir || cfg.base_dir || '';\n  const c = parsed.count;\n  const cnt = c === undefined ? '?' : String(c);\n  throw new Error(\n    'Exporter trả về 0 job (count=' + cnt + ', base_dir=' + bd + '). '\n      + 'Không phải lỗi If/Switch: node sau chỉ chạy khi có ít nhất một job. Kiểm tra workspace hoặc volume Docker; session có đủ video, title, description, thumbnail không; có marker exported-posted không. '\n      + 'Chạy ngoài n8n: export_publish_jobs.py đúng base_dir và thêm các cờ debug và audit.',\n  );\n}\nconst asBool = (v) => v === true || v === 'true' || v === 1 || v === '1';\nreturn parsed.jobs.map((job) => ({\n  json: {\n    ...job,\n    youtube_posted: asBool(job.youtube_posted),\n    facebook_posted: asBool(job.facebook_posted),\n    repo_root: cfg.repo_root,\n    base_dir: cfg.base_dir,\n    log_file: cfg.log_file,\n    facebook_page_id: cfg.facebook_page_id,\n  },\n}));"
      },
      "id": "50f795f8-973a-4a27-a2dc-98c631f7fe94",
      "name": "5 Split jobs (+ giữ config)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 688]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python {{ $json.repo_root }}/n8n-automatioin/workflow_log_append.py {{ $json.log_file }} job_begin --level INFO --message \"session={{ $json.session_name }}\""
      },
      "id": "f02a185f-0343-4d78-ad25-5ecc290ef4ab",
      "name": "6 Log • job begin",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [560, 848]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const cur = $input.item;\nconst idx =\n  typeof $input.itemIndex === 'number' && !Number.isNaN($input.itemIndex)\n    ? $input.itemIndex\n    : 0;\nlet rows = [];\ntry {\n  rows = $('5 Split jobs (+ giữ config)').all();\n} catch {\n  rows = [];\n}\nlet from5 = rows[idx]?.json;\nif (!from5 && rows.length === 0) {\n  if (idx !== 0) {\n    throw new Error(\n      '6b: thiếu .all() trên Split jobs khi có nhiều item — nâng n8n hoặc chỉ chạy 1 job mỗi lần.'\n    );\n  }\n  from5 = $('5 Split jobs (+ giữ config)').first()?.json;\n}\nif (!from5 || typeof from5 !== 'object') {\n  throw new Error('6b: không đọc được job từ Split jobs tại index ' + idx);\n}\nconst overlay = cur.json && typeof cur.json === 'object' ? cur.json : {};\nconst merged = { ...from5, ...overlay };\nfor (const k of ['stdout', 'stderr', 'exitCode', 'text']) {\n  if (merged[k] !== undefined && from5[k] === undefined) {\n    delete merged[k];\n  }\n}\nconst p = String(merged.video_path || '').trim();\nif (!p) {\n  throw new Error(\n    'Missing video_path sau 6 Log (pairing index=' + idx + '). session=' + String(merged.session_name || '?')\n    ,\n  );\n}\nmerged.video_path = p.split(String.fromCharCode(92)).join('/');\nreturn { json: merged, binary: cur.binary };"
      },
      "id": "c5d0235b-09e2-492f-a7c6-50a2ede4fb7b",
      "name": "6b Carry job → Read",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 928]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "yt-needs-upload",
              "leftValue": "={{ $json.youtube_posted }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4789-a012-345678901201",
      "name": "6d YouTube cần upload?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [560, 1008]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const raw = $('6b Carry job → Read').item?.json;\nconst job = raw != null && typeof raw === 'object' && !Array.isArray(raw) ? raw : {};\nconst rid = String(job.youtube_remote_id || '').trim();\nif (!rid) {\n  throw new Error(\n    'youtube_posted=true nhưng thiếu youtube_remote_id trong job — kiểm tra posted_youtube.json có remote_id và chạy lại export (session_publish_jobs).'\n    ,\n  );\n}\nreturn { json: { ...job, id: rid }, binary: {} };"
      },
      "id": "a1b2c3d4-e5f6-4789-a012-345678901202",
      "name": "6c Đã có YouTube → chỉ FB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 1120]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.video_path }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "id": "63a70a90-cd3e-4753-9e1a-a6bb77f7831d",
      "name": "7 Read video (YouTube)",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [560, 1120],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function parseIsoUtcMs(raw) {\n  let sa = String(raw || '').trim();\n  if (!sa) return NaN;\n  if (!sa.includes('T') && sa.includes(' ')) sa = sa.replace(' ', 'T');\n  sa = sa.replace(/(\\d{2}:\\d{2}:\\d{2}\\.\\d{3})\\d+/, '$1');\n  return Date.parse(sa);\n}\nconst item = $input.item;\nif (item.json.error) {\n  throw new Error('Read video (YouTube): ' + String(item.json.error));\n}\nif (!item.binary?.data) {\n  throw new Error('Read video (YouTube): missing binary.data');\n}\nconst meta = $('6b Carry job → Read').item?.json ?? {};\nconst sa = String(meta.scheduled_at || '').trim();\nif (!sa) {\n  throw new Error(\n    'YouTube: scheduled_at trống — Studio coi là \\\"Riêng tư\\\" (không \\\"Đã lên lịch\\\"); kiểm tra exporter + node 6b.'\n    ,\n  );\n}\nconst publishMs = parseIsoUtcMs(sa);\nif (!Number.isFinite(publishMs)) {\n  throw new Error(\n    'YouTube: scheduled_at không parse được (ISO RFC3339, có offset ví dụ +07:00): ' + sa\n    ,\n  );\n}\nconst skewMs = 5000;\nif (publishMs <= Date.now() + skewMs) {\n  throw new Error(\n    'YouTube: scheduled_at đã qua hoặc sát \\\"giờ chạy workflow\\\" (< vài giây tới). PublishAt không còn trong tương lai. Giá trị: '\n      + sa\n      + '. Chạy lại export để \\\"scheduled_at\\\" mới, hoặc chỉnh SCHEDULE_START/SCHEDULE_INTERVAL_HOURS trong node 2.'\n    ,\n  );\n}\nconst tp = String(meta.thumbnail_path || '').trim();\nif (!tp) {\n  throw new Error(\n    'YouTube: thiếu thumbnail_path — cần file ảnh để upload thumbnail (và Studio/COPPA). Kiểm tra session + export.'\n    ,\n  );\n}\nreturn item;"
      },
      "id": "996eed4a-7687-4147-bc6b-0ca1039f0df4",
      "name": "8 Check read OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 1168]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ String($('6b Carry job → Read').item.json.thumbnail_path || '').split(String.fromCharCode(92)).join('/') }}",
        "options": {
          "dataPropertyName": "thumbnail"
        }
      },
      "id": "7f4b489c-a513-4c26-8e64-d819470536b7",
      "name": "8c Read thumbnail YouTube",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [560, 1248]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Sau 8c, Read File thường chỉ giữ binary vừa đọc → mất video `data`. Gộp lại trước khi upload.\nconst item = $input.item;\nconst from8 = $('8 Check read OK').item;\nconst data = from8?.binary?.data;\nconst thumb = item.binary?.thumbnail;\nif (!data) {\n  throw new Error(\n    'Thiếu binary.data (video) sau 8c — kiểm tra 7 Read video, video_path, volume Docker/N8N_RESTRICT_FILE_ACCESS_TO.'\n    ,\n  );\n}\nif (!thumb) {\n  throw new Error('Thiếu binary.thumbnail sau 8c — kiểm tra thumbnail_path và file ảnh.');\n}\nitem.binary = { data, thumbnail: thumb };\nitem.json = from8?.json ?? item.json;\nreturn item;"
      },
      "id": "b8d80001-0000-4000-8000-000000000001",
      "name": "8d Gộp video và thumbnail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 1288]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('6b Carry job → Read').item.json.title }}",
        "regionCode": "US",
        "categoryId": "22",
        "binaryProperty": "data",
        "options": {
          "description": "={{ $('6b Carry job → Read').item.json.description }}",
          "privacyStatus": "private",
          "publishAt": "={{ $('6b Carry job → Read').item.json.scheduled_at }}",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ ($('6b Carry job → Read').item.json.hashtags || []).join(',') }}"
        }
      },
      "id": "0e8c2acd-6048-445f-91e2-d7b5afc8ba81",
      "name": "9 YouTube upload",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [560, 1328],
      "continueOnFail": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "rdwwFjXb6ufXHOhS",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "yt-upload-has-id",
              "leftValue": "={{ Boolean($json.id || $json.uploadId) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b9b90002-0000-4000-8000-000000000001",
      "name": "9b Upload YouTube thành công?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [560, 1408]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const raw = $('6b Carry job → Read').item?.json;\nconst job =\n  raw != null && typeof raw === 'object' && !Array.isArray(raw) ? { ...raw } : {};\nconst it = $input.item;\nconst j = it.json || {};\nconst e = j.error != null ? j.error : it.error;\nconst msg =\n  e != null\n    ? (typeof e === 'string' ? e : JSON.stringify(e).slice(0, 600))\n    : String(j.message || it.message || 'YouTube upload failed');\nreturn {\n  json: {\n    ...job,\n    youtube_upload_failed: true,\n    youtube_error: String(msg || 'YouTube upload failed'),\n  },\n  binary: {},\n};"
      },
      "id": "b9c90003-0000-4000-8000-000000000001",
      "name": "9c YT lỗi → sang kiểm tra FB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 1440]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst j = item.json || {};\nconst meta = $('6b Carry job → Read').item?.json || {};\nif (j.error) {\n  throw new Error('YouTube API: ' + JSON.stringify(j.error).slice(0, 800));\n}\nconst id =\n  j.id || j.uploadId || j.video_id || j.videoId || j.data?.id || j.data?.uploadId;\nif (!id) {\n  throw new Error(\n    'YouTube: no video id (expected id/uploadId/video_id): ' + JSON.stringify(j).slice(0, 800),\n  );\n}\nitem.json = { ...meta, ...j, id: String(id) };\nconst thumb = $('8d Gộp video và thumbnail').item?.binary?.thumbnail;\nif (!thumb) {\n  throw new Error(\n    'YouTube: thiếu binary thumbnail (lấy từ 8d). Node upload có thể đã bỏ binary — kiểm tra 8c/8d.'\n    ,\n  );\n}\nlet sz = 0;\nif (thumb.fileSize != null && thumb.fileSize !== undefined) {\n  sz = Number(thumb.fileSize);\n} else if (thumb.data) {\n  sz = Buffer.from(String(thumb.data), 'base64').length;\n}\nif (sz > 2097152) {\n  throw new Error('YouTube thumbnail: file > 2MB — API sẽ từ chối.');\n}\nitem.binary = { thumbnail: thumb };\nreturn item;"
      },
      "id": "6225fa1e-f699-48a3-8d53-6409a9cd6739",
      "name": "10 Check YouTube OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 1488]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/thumbnails/set",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $json.id }}"
            },
            {
              "name": "uploadType",
              "value": "media"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "thumbnail",
        "options": {}
      },
      "id": "df07d60c-3f65-414d-99c6-95706ba7e5dc",
      "name": "10b YouTube set thumbnail (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 1568],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "rdwwFjXb6ufXHOhS",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const item = $input.item;\nconst raw = item.json || {};\nconst sc = Number(raw.statusCode ?? raw.status ?? 0);\nif (!raw.error && (sc === 204 || sc === 205)) {\n  return item;\n}\nif (!raw.error && sc >= 200 && sc < 300) {\n  const b = raw.body;\n  if (b === '' || b === null || b === undefined) {\n    return item;\n  }\n  if (typeof b === 'string' && !String(b).trim()) {\n    return item;\n  }\n}\nfunction tryParse(s) {\n  if (typeof s !== 'string' || !s.trim()) return null;\n  try {\n    return JSON.parse(s);\n  } catch {\n    return null;\n  }\n}\nfunction unwrapApiPayload(r) {\n  if (!r || typeof r !== 'object') return {};\n  const buckets = [\n    r,\n    typeof r.body === 'string' ? tryParse(r.body) : r.body,\n    typeof r.data === 'string' ? tryParse(r.data) : r.data,\n  ].filter((x) => x != null && typeof x === 'object');\n  for (const o of buckets) {\n    if (o.error) return o;\n    if (o.snippet?.thumbnails || o.thumbnails || (Array.isArray(o.items) && o.items[0]?.snippet)) {\n      return o;\n    }\n  }\n  return buckets[0] || r;\n}\nconst THUMB_KEYS = new Set([\n  'default',\n  'medium',\n  'high',\n  'standard',\n  'maxres',\n  'hqdefault',\n  'mqdefault',\n  'sddefault',\n]);\nfunction isYoutubeThumbBlock(o) {\n  if (!o || typeof o !== 'object') return false;\n  const ks = Object.keys(o);\n  if (!ks.some((k) => THUMB_KEYS.has(k))) return false;\n  for (const k of ks) {\n    if (!THUMB_KEYS.has(k)) continue;\n    const v = o[k];\n    if (v && typeof v === 'object' && typeof v.url === 'string') return true;\n  }\n  return false;\n}\nfunction walkThumbnails(o, depth) {\n  if (!o || typeof o !== 'object' || depth > 12) return null;\n  if (isYoutubeThumbBlock(o)) return o;\n  if (Array.isArray(o)) {\n    for (const el of o) {\n      const t = walkThumbnails(el, depth + 1);\n      if (t) return t;\n    }\n    return null;\n  }\n  for (const k of Object.keys(o)) {\n    const t = walkThumbnails(o[k], depth + 1);\n    if (t) return t;\n  }\n  return null;\n}\nconst j = unwrapApiPayload(raw);\nif (j.error) {\n  throw new Error('YouTube thumbnail API: ' + JSON.stringify(j.error).slice(0, 900));\n}\nlet thumbs =\n  j.snippet?.thumbnails\n  || j.thumbnails\n  || (Array.isArray(j.items) && j.items[0]?.snippet?.thumbnails);\nif (!thumbs || typeof thumbs !== 'object' || Object.keys(thumbs).length === 0) {\n  thumbs = walkThumbnails(j, 0);\n}\nif (!thumbs || typeof thumbs !== 'object' || Object.keys(thumbs).length === 0) {\n  if (!j.error && sc >= 200 && sc < 300) {\n    return item;\n  }\n  const preview =\n    typeof j === 'string' ? j.slice(0, 200) : JSON.stringify(j).slice(0, 500);\n  throw new Error(\n    'YouTube thumbnail: không đọc được object thumbnails từ phản hồi HTTP (body có thể là string chưa parse, hoặc cấu trúc khác). Gợi ý: xem raw JSON node 10b. Preview: '\n      + preview\n    ,\n  );\n}\nreturn item;"
      },
      "id": "a1b2c3d4-e5f6-4789-a012-345678901204",
      "name": "10c Kiểm tra thumbnail API OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 1648]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python {{ $('10 Check YouTube OK').item.json.repo_root }}/n8n-automatioin/mark_publish_result.py \"{{ $('10 Check YouTube OK').item.json.session_folder }}\" --platform youtube --remote-id {{ $('10 Check YouTube OK').item.json.id }} --url https://www.youtube.com/watch?v={{ $('10 Check YouTube OK').item.json.id }} --scheduled-at \"{{ $('10 Check YouTube OK').item.json.scheduled_at }}\""
      },
      "id": "9cfbe0dc-1eb6-4fee-b475-e0a08d9c11d4",
      "name": "11 Mark YouTube đã đăng",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [560, 1728]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python {{ $('10 Check YouTube OK').item.json.repo_root }}/n8n-automatioin/workflow_log_append.py {{ $('10 Check YouTube OK').item.json.log_file }} youtube_ok --level INFO --message \"video_id={{ $('10 Check YouTube OK').item.json.id }} session={{ $('10 Check YouTube OK').item.json.session_name }}\""
      },
      "id": "0072d772-44d3-41c6-9154-3eebf3192e84",
      "name": "12 Log • YouTube OK",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [560, 1808]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const t = $('10 Check YouTube OK').item?.json;\nconst j = t != null && typeof t === 'object' && !Array.isArray(t) ? t : {};\nreturn { json: j, binary: {} };"
      },
      "id": "a1b2c3d4-e5f6-4789-a012-345678901203",
      "name": "12a Chuẩn bị JSON cho FB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 1888]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const cur = $input.item;\nconst idx =\n  typeof $input.itemIndex === 'number' && !Number.isNaN($input.itemIndex)\n    ? $input.itemIndex\n    : 0;\nlet splitRows = [];\nlet sixbRows = [];\ntry {\n  splitRows = $('5 Split jobs (+ giữ config)').all();\n} catch {\n  splitRows = [];\n}\ntry {\n  sixbRows = $('6b Carry job → Read').all();\n} catch {\n  sixbRows = [];\n}\nlet j5 = splitRows[idx]?.json;\nif (!j5 && splitRows.length === 0) {\n  if (idx !== 0) {\n    throw new Error('12b: thiếu .all() cho Split jobs — không ghép đúng job.');\n  }\n  j5 = $('5 Split jobs (+ giữ config)').first()?.json;\n}\nlet j6b = sixbRows[idx]?.json;\nif (!j6b && sixbRows.length === 0) {\n  if (idx !== 0) {\n    throw new Error('12b: thiếu .all() cho 6b — không ghép đúng job.');\n  }\n  j6b = $('6b Carry job → Read').first()?.json;\n}\nconst base = {\n  ...(j5 && typeof j5 === 'object' ? j5 : {}),\n  ...(j6b && typeof j6b === 'object' ? j6b : {}),\n};\nconst j = cur.json && typeof cur.json === 'object' ? cur.json : {};\nconst merged = { ...base, ...j };\nconst vid = String(merged.id || merged.youtube_remote_id || '').trim();\nif (vid) merged.id = vid;\nconst p = String(merged.video_path || '').trim();\nif (!p) {\n  throw new Error(\n    'Missing video_path before Facebook (index=' + idx + '). session=' + String(merged.session_name || '?')\n    ,\n  );\n}\nmerged.video_path = p.split(String.fromCharCode(92)).join('/');\nreturn { json: merged, binary: cur.binary };"
      },
      "id": "e078e9c4-9a1e-4240-bda9-c533e9db187f",
      "name": "12b Carry job → Read FB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 1968]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb-needs-upload",
              "leftValue": "={{ $json.facebook_posted }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4789-a012-345678901205",
      "name": "6e Facebook cần upload?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [560, 2048]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const j = $input.item.json || {};\nreturn {\n  json: {\n    skipped_facebook: true,\n    session_name: j.session_name,\n    session_folder: j.session_folder,\n    note: 'Đã có posted_facebook.json — không upload lại.',\n  },\n  binary: {},\n};"
      },
      "id": "a1b2c3d4-e5f6-4789-a012-345678901206",
      "name": "19 FB đã đăng — skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 2160]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.video_path }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "id": "61dbca5f-2d1e-41bd-a999-e084e6b859ba",
      "name": "13 Read video (Facebook)",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [560, 2248],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nif (item.json.error) {\n  throw new Error('Read video (Facebook): ' + String(item.json.error));\n}\nif (!item.binary?.data) {\n  throw new Error('Read video (Facebook): missing binary.data');\n}\nreturn item;"
      },
      "id": "16158a37-8fe1-453c-9a4b-bc36121be4d7",
      "name": "14 Check read OK • FB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 2368]
    },
    {
      "parameters": {
        "hostUrl": "graph-video.facebook.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "v21.0",
        "node": "={{ $('12b Carry job → Read FB').item.json.facebook_page_id }}",
        "edge": "videos",
        "sendBinaryData": true,
        "binaryPropertyName": "source:data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "description",
                "value": "={{ $('12b Carry job → Read FB').item.json.description }}"
              },
              {
                "name": "title",
                "value": "={{ $('12b Carry job → Read FB').item.json.title }}"
              },
              {
                "name": "published",
                "value": "={{ false }}"
              },
              {
                "name": "scheduled_publish_time",
                "value": "={{ Number($('12b Carry job → Read FB').item.json.scheduled_publish_unix) }}"
              },
              {
                "name": "unpublished_content_type",
                "value": "={{ 'SCHEDULED' }}"
              }
            ]
          }
        }
      },
      "id": "fbfae92e-81a0-4578-91e4-4294d960f41a",
      "name": "15 Facebook • upload video",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [560, 2488],
      "alwaysOutputData": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "pBJ6dduCJFDKW1zU",
          "name": "Facebook Graph account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const j = $input.item.json;\nif (j.error) {\n  throw new Error('Facebook Graph: ' + JSON.stringify(j.error).slice(0, 800));\n}\nif (!j.id) {\n  throw new Error('Facebook: no id in response: ' + JSON.stringify(j).slice(0, 800));\n}\nreturn $input.item;"
      },
      "id": "d0d38294-3fe1-4bb6-b76e-547149bdafdd",
      "name": "16 Check Facebook OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 2608]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python {{ $('14 Check read OK • FB').item.json.repo_root }}/n8n-automatioin/mark_publish_result.py \"{{ $('14 Check read OK • FB').item.json.session_folder }}\" --platform facebook --remote-id {{ $json.id }} --url https://www.facebook.com/watch/?v={{ $json.id }} --scheduled-at \"{{ $('14 Check read OK • FB').item.json.scheduled_at }}\""
      },
      "id": "c259f329-8a9e-4d09-84e8-b354c9a77e6c",
      "name": "17 Mark Facebook đã đăng",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [560, 2728]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python {{ $('14 Check read OK • FB').item.json.repo_root }}/n8n-automatioin/workflow_log_append.py {{ $('14 Check read OK • FB').item.json.log_file }} facebook_ok --level INFO --message \"fb_video_id={{ $('15 Facebook • upload video').item.json.id }} session={{ $('14 Check read OK • FB').item.json.session_name }}\""
      },
      "id": "aaddbea3-0054-4abf-a1fa-86fe2e435ef0",
      "name": "18 Log • Facebook OK",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [560, 2848]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "053831aa-872e-4091-8f6e-c95b8bb7271d",
              "name": "REPO_ROOT",
              "value": "/repo",
              "type": "string"
            },
            {
              "id": "f7f9ce8a-7674-42e5-b15e-4fdd17e6701e",
              "name": "WORKSPACE",
              "value": "/workspace",
              "type": "string"
            },
            {
              "id": "4948dbc4-064a-43b3-8fbe-440d359187ae",
              "name": "FACEBOOK_PAGE_ID",
              "value": "61588910710855",
              "type": "string"
            },
            {
              "id": "89156ba7-cd5f-4692-829f-63d954a10e91",
              "name": "SCHEDULE_INTERVAL_HOURS",
              "value": 24,
              "type": "number"
            },
            {
              "id": "fd736656-9b9b-413f-8779-4dca8d899195",
              "name": "SCHEDULE_START",
              "value": "2026-05-02T22:00:00+07:00",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [448, 256],
      "id": "bc8e5861-0c79-435a-9870-982aa0fbba0d",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 Publishing config (sửa 1 lần trong Code)": {
      "main": [
        [
          {
            "node": "3 Log • start",
            "type": "main",
            "index": 0
          },
          {
            "node": "4 Export jobs (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4 Export jobs (Python)": {
      "main": [
        [
          {
            "node": "5 Split jobs (+ giữ config)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Split jobs (+ giữ config)": {
      "main": [
        [
          {
            "node": "6 Log • job begin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6 Log • job begin": {
      "main": [
        [
          {
            "node": "6b Carry job → Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6b Carry job → Read": {
      "main": [
        [
          {
            "node": "6d YouTube cần upload?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6d YouTube cần upload?": {
      "main": [
        [
          {
            "node": "7 Read video (YouTube)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "6c Đã có YouTube → chỉ FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6c Đã có YouTube → chỉ FB": {
      "main": [
        [
          {
            "node": "12b Carry job → Read FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7 Read video (YouTube)": {
      "main": [
        [
          {
            "node": "8 Check read OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8 Check read OK": {
      "main": [
        [
          {
            "node": "8c Read thumbnail YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8c Read thumbnail YouTube": {
      "main": [
        [
          {
            "node": "8d Gộp video và thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8d Gộp video và thumbnail": {
      "main": [
        [
          {
            "node": "9 YouTube upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9 YouTube upload": {
      "main": [
        [
          {
            "node": "9b Upload YouTube thành công?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9b Upload YouTube thành công?": {
      "main": [
        [
          {
            "node": "10 Check YouTube OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "9c YT lỗi → sang kiểm tra FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9c YT lỗi → sang kiểm tra FB": {
      "main": [
        [
          {
            "node": "12b Carry job → Read FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 Check YouTube OK": {
      "main": [
        [
          {
            "node": "10b YouTube set thumbnail (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10b YouTube set thumbnail (HTTP)": {
      "main": [
        [
          {
            "node": "10c Kiểm tra thumbnail API OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10c Kiểm tra thumbnail API OK": {
      "main": [
        [
          {
            "node": "11 Mark YouTube đã đăng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11 Mark YouTube đã đăng": {
      "main": [
        [
          {
            "node": "12 Log • YouTube OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 Log • YouTube OK": {
      "main": [
        [
          {
            "node": "12a Chuẩn bị JSON cho FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12a Chuẩn bị JSON cho FB": {
      "main": [
        [
          {
            "node": "12b Carry job → Read FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12b Carry job → Read FB": {
      "main": [
        [
          {
            "node": "6e Facebook cần upload?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6e Facebook cần upload?": {
      "main": [
        [
          {
            "node": "13 Read video (Facebook)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "19 FB đã đăng — skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13 Read video (Facebook)": {
      "main": [
        [
          {
            "node": "14 Check read OK • FB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14 Check read OK • FB": {
      "main": [
        [
          {
            "node": "15 Facebook • upload video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15 Facebook • upload video": {
      "main": [
        [
          {
            "node": "16 Check Facebook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "16 Check Facebook OK": {
      "main": [
        [
          {
            "node": "17 Mark Facebook đã đăng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "17 Mark Facebook đã đăng": {
      "main": [
        [
          {
            "node": "18 Log • Facebook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "2 Publishing config (sửa 1 lần trong Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1dad5b3a-5bb1-456e-9157-e0022c182ea9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "31bbbf9dc8c3a10fb7b9a1bdc681ce1cf97588dd3a69049556e901ed641fe1a0"
  },
  "id": "q4mq4M49ES9seqqL",
  "tags": []
}
